.navigation-bar {
  font-family: 'Amatic SC';
}

.nav-link-element {
  color: #222;
}

.nav-link-element:hover {
  color: #222;
}

.chart-icon {
  color: #ababab;
}

.navbar-chart-count {
  // border-radius: 36px;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 100;
  // background-color: rgb(54, 210, 143);
}

.chart-icon:hover {
  color: #ababab;
}