.navigation-bar {
  background-color: #5680ce;
}

.nav-item {
  color: #fdfdfd;
}

.nav-item:hover {
  color: #fdfdfd;
}

.navbar-chart-count {
  padding-left: 5px;
  font-size: 12px;
  font-weight: 100;
}