// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@color: #064210;

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

header {
  background-color: @color;
}