@color: #FFFFFF;

html {
  font-family: 'Amatic SC', cursive;
  overflow: scroll;
  color: #ababab;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background-color: @color;
}